<h1>RIDES</h1>
<% if admin? %>
  <% @attractions.each do |a| %>
   <p><%= link_to "Show #{a.name}", attraction_path(a.id)%></p></br>
   <% end %>
   <%= link_to "New Attraction", new_attraction_path %>
<% else %>
  <% @attractions.each do |a| %>
    <p><%= link_to "Go on #{a.name}", attraction_path(a.id)%></p></br>
  <% end %>
<% end %>
